<div class="section-columns">
  <div class="section-columns__grid">
    <div class="section-columns__col">{{{leftContent}}}</div>
    <div class="section-columns__col">{{{rightContent}}}</div>
  </div>
</div>
