{{#if src}}
<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
  <figure>
    <img src="{{src}}" alt="{{alt}}" class="w-full rounded-xl object-cover">
    {{#if caption}}<figcaption class="mt-3 text-sm text-center text-gray-400">{{caption}}</figcaption>{{/if}}
  </figure>
</div>
{{/if}}
