{{> header}}

<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 pt-14 pb-6">
  <h1 class="text-4xl font-bold text-gray-900">{{page.title}}</h1>
</div>

{{#if page.sections}}
  {{#each page.sections}}
  {{renderSection this}}
  {{/each}}
{{else}}
  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 pb-16">
    <div class="leading-relaxed text-gray-600">
      {{{page.content}}}
    </div>
  </div>
{{/if}}

{{> footer}}
